body {
    margin: 0;
    font-family: system-ui;
    background-image: url('images/teabg.png'); 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    min-height: 100vh;
    width: 100%;
}

.teabutton {
    color: rgb(8, 71, 4);
    background-color: bisque;
    font-size: 50;
    top: 50%;
    
}
.fake {
    color: yellowgreen;
}