<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
<title>Iroh</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>
    
<div class = "home-page">  
    <img src = >
    <img src="{{url_for('static', filename= '/images/uncleiroh.png')}}" alt = >
    <!----< Button redirection to tea page a-->
  <img src="{{url_for('static', filename= '/images/iroh.gif')}}">
</div>
  <button class ='teabutton' onclick = "redirectNextPage()"> Tea Page! </button>
    <script> 
        function redirectNextPage(){
            window.location.href = "{{url_for('tea')}}"
        }
    </script>
</div>

</body>
</html>
