<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
<title>Iroh</title>
<meta name="description" content="Our first page">
<meta name="keywords" content="html tutorial template">
</head>
<body>
    
<div class = "home-page">
</div>

    <div class = "unciroh">
    <img src='/static/images/unciroh.png'>
    </div>

    <div class = "iroh">
    <img src='/static/images/iroh.gif'>
    </div>

    <nav class ="navbar">
        <div class = "navdiv">
            <div class="logo"> <a href="#">Jasmine Dragon</a> </div>
           
            <ul>
                <li> <a href="#"> Teas </a> </li>
                <li> <a href="#"> Poems </a> </li>
            </ul>
        </div>
    </nav>

        <!----< Button redirection to tea page a-->
    <button class ='teabutton' onclick = "redirectNextPage()"> Tea Page! </button>
    <script> 
        function redirectNextPage(){
            window.location.href = "{{url_for('tea')}}"
        }
    </script>
</body>
</html>
